*~
*.iseq
.DS_Store
*.rzip
*.data
*.gzip
*.log
sim-public-*
rholog-*
xcuserdata/
project.xcworkspace/
sync_server*
bin/
tmp/
config.yml
faillog.txt
*.changes
rhosimulator/
rholog.txt
sync_server.*
*.rdb
rhoapi-modules.js
license.key

/rhoconnect-client/build
/rhoconnect-client/Java/Android/test/gen
/rhoconnect-client/Java/Android/test/bin
/rhoconnect-client/C++/Tests/win32/bin

ext/rhoconnect-client/ext/platform/*/generated
ext/rhoconnect-client/ext/shared/generated
ext/rhoconnect-client/public/api/generated

test_results.xml
spec/rhoconnect_spec/RhoLogSpec.txt

spec/rhoconnect_spec/build.yml
spec/rhoconnect_spec_js/build.yml
