*~
*.iseq
.DS_Store
*.rzip
*.data
*.gzip
*.log
sim-public-*
rholog-*
xcuserdata/
project.xcworkspace/
sync_server*
bin/
tmp/
config.yml

/rhoconnect-client/build
/rhoconnect-client/Java/Android/test/gen
/rhoconnect-client/Java/Android/test/bin
/rhoconnect-client/C++/Tests/win32/bin