---
sdk: ../../../rhodes
sdkversion: 4.0.0
name: rhoconnect_spec
bbver: 6.0
version: 1.0.0
vendor: rhomobile
iphone:
  sdk: iphonesimulator6.0
  entitlements: ''
  codesignidentity: ''
  configuration: Release
  # extensions:
  # - barcode
paths:
  extensions: ../../ext
extensions:
- mspec
- fileutils
- rhoconnect-client
wp:
  productid: fd55c4d0-51fa-012e-7844-6caec51bd50e
android:
  # apikey: 0tLch9tZSX1G7PQRWwmqvINECUGtJ8ReArpPJxw
  version: 4.2.2
